<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница администратора</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/AdminStyles.css">
</head>

<body>

    <div th:replace="navbar.html :: navbar"></div>

    <form action="/uploadimage" method="post" enctype="multipart/form-data" class="admin-product-add-form">

        <div class="admin-img-add">
            <div class="admin-add-image-container" id="image-output"></div>
            <input type="file" id="image-input" name="file">
            <button id="select-image-btn" class="select-image-btn">Выбрать изображение</button>
        </div>

        <div class="admin-prod-param">
            <div class="admin-prod-name">
                <label>Название товара</label>
                <input type="text" name="name" required/>
            </div>

            <div class="admin-prod-row">
                <label>Цена товара</label>
                <input type="number" name="price" step="0.01" required/>
            </div>

            <div class="admin-prod-row">
                <label>Тип товара</label>
                <select name="type" id="type-select" required>
                    <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                </select>
            </div>

            <div class="admin-prod-row">
                <label>Категория товара</label>
                <select id="category-select">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <button type="button" id="add-category-btn">Добавить категорию</button>

            <div class="admin-prod-row">
                <label>Подкл. катег.</label>
                <div id="selected-categories">
                    <input type="text" name="categories" style="display: none;">
                </div>
            </div>

            <button type="submit">Сохранить и добавить</button>
        </div>

    </form>

    <div class="holder"></div>
    <div th:replace="footer.html :: footer"></div>

    <script src="../static/NavbarScript.js"></script>
    <script src="../static/AdminScript.js"></script>
</body>
</html>
