<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<button th:fragment="loginbth" id="login-btn" class="btn login-btn">Вход</button>

<div class="logoutform" th:fragment="logoutform">
    <form action="/bucket" method="get">
        <button id="bucket-btn" type="submit" class="btn bucket-btn">Корзина</button>
    </form>
    <form id="logout-form">
        <button id="logout-btn" type="button" onclick="submitLogout()" class="btn logout-btn">Выход</button>
    </form>
</div>

<div th:fragment="loginoverlay" id="login-overlay" style="display: none;">
    <div id="login-popup">
        <form id="log-form">
            <div>
                <label>Логин:</label>
                <input type="text" name="login" />
            </div>
            <div>
                <label>Пароль:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <button type="button" onclick="submitLoginForm()" class="btn">Войти</button>
                <button id="reg-btn" type="button" class="btn">Регистрация</button>
            </div>
        </form>
        <button id="cancel-log-btn" type="button" onclick="closeLoginForm()" class="btn">Отмена</button>
    </div>
</div>

<div th:fragment="regoverlay" id="register-overlay" style="display: none;">
    <div id="register-popup">
        <form id="reg-form">
            <div>
                <label>Логин:</label>
                <input type="text" name="login" />
            </div>
            <div>
                <label>Пароль:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <label>Повтор пароля:</label>
                <input type="password" name="repeatPassword" />
            </div>
            <div>
                <button type="button" onclick="submitRegForm()" class="btn">Зарегистрироваться</button>
                <button id="login-reg-btn" type="button" class="btn">Уже есть аккаунт</button>
            </div>
        </form>
        <button id="cancel-reg-btn" type="button" onclick="closeRegForm()" class="btn">Отмена</button>
    </div>
</div>

</body>
</html>