<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<button th:fragment="loginbth" id="login-btn" class="btn login-btn">Вход</button>

<form th:fragment="logoutform" action="/logoutconfirm" method="post">
    <button id="logout-btn" type="submit" class="btn logout-btn">Выход</button>
</form>

<div th:fragment="loginoverlay" id="login-overlay" style="display: none;">
    <div id="login-popup">
        <form action="/loginconfirm" method="post" id="log-form">
            <div>
                <label>Логин:</label>
                <input type="text" name="login" />
            </div>
            <div>
                <label>Пароль:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <button type="submit" form="log-form" class="btn">Войти</button>
                <button id="reg-btn" type="button" class="btn">Регистрация</button>
            </div>
        </form>
        <form action="/cancelauth" method="post" id="log-cancel">
            <button id="cancel-log-btn" type="submit" form="log-cancel" class="btn">Отмена</button>
        </form>
    </div>
</div>

    <div th:fragment="regoverlay" id="register-overlay" style="display: none;">
        <div id="register-popup">
                <form action="/registerconfirm" method="post" id="reg-form">
                        <div>
                                <label>Логин:</label>
                                <input type="text" name="login" />
                            </div>
                        <div>
                                <label>Пароль:</label>
                                <input type="password" name="password" />
                            </div>
                        <div>
                                <label>Повтор пароля:</label>
                                <input type="password" name="repeatPassword" />
                            </div>
                        <div>
                                <button type="submit" form="reg-form" class="btn">Зарегистрироваться</button>
                                <button id="login-reg-btn" type="button" class="btn">Уже есть аккаунт</button>
                            </div>
                    </form>
            <form action="/cancelauth" method="post" id="reg-cancel">
                <button id="cancel-reg-btn" type="submit" form="reg-cancel" class="btn">Отмена</button>
            </form>
            </div>
    </div>

</body>
</html>