<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ваша корзина</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div th:replace="navbar.html :: navbar"></div>

    <div class="bucket-container">
        <ul class="products-list">
            <li th:each="product: ${productsView}">
                <img th:src="${product.servletId}"/>
                <h3 th:text="${product.nameProd}"></h3>
                <div>
                    <p th:text="${product.priceProd}"></p>
                    <p >руб. (шт.)</p>
                </div>
                <div>
                    <button class="edit-cnt-bucket-btn decr-btn"
                            id="dec-btn"
                            th:data-id="${product.id}"
                            th:text="'-'"
                            th:disabled="${product.countProduct <= 1}"></button>

                    <input type="text"
                           th:value="${product.countProduct}"
                           disabled>

                    <button class="edit-cnt-bucket-btn incr-btn"
                            id="inc-btn"
                            th:data-id="${product.id}"
                            th:text="'+'"></button>

                </div>
                <button class="delete-from-bucket-btn"
                        th:data-id="${product.id}"
                        th:text="'Удалить'"></button>
            </li>
        </ul>
    </div>

    <div class="holder"></div>

    <div id="order-overlay" style="display: none;">
        <div id="order-popup">
            <form action="/orderconfirm" method="post" id="order-form">
                <div>
                    <label>Имя получателя:</label>
                    <input type="text" name="name"/>
                </div>
                <div>
                    <label>Адрес доставки:</label>
                    <input type="text" name="address"/>
                </div>
                <div>
                    <label>Способ оплаты:</label>
                    <select id="category-select" name="payment">
                        <option value="card">По карте</option>
                        <option value="cash">Наличкой в момент выдачи</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn">Подтвердить</button>
                </div>
                <button id="cancel-order-btn" type="button" class="btn">Отмена</button>
            </form>
        </div>
    </div>

    <footer class="total-price-container">
        <p>Суммарная цена: <span id="total-price"></span> руб.</p>
        <button id="checkout-btn">Оформить заказ</button>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/NavbarScript.js"></script>
    <script src="../static/BucketScript.js"></script>

</body>
</html>
