<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Приветствуем!</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/MainPageStyles.css">
    <link rel="stylesheet" href="../static/css/AuthorizationStyles.css">
    <link rel="stylesheet" href="../static/css/NavbarStyles.css">
    <link rel="stylesheet" href="../static/css/FooterStyles.css">
</head>

<body>
    <div th:replace="navbar.html :: navbar"></div>

    <div class="image-panels">
        <h1>Наш ассортимент</h1>
        <div>
        <a href="/products?selectedtype=readymeals" class="panel"><img src="../static/img/readymeals.png" alt="Ready Meal"><p>ГОТОВЫЕ БЛЮДА</p></a>
        <a href="/products?selectedtype=drinks" class="panel"><img src="../static/img/drinks.png" alt="Drink"><p>НАПИТКИ</p></a>
        <a href="/products?selectedtype=products" class="panel"><img src="../static/img/products.png" alt="Product"><p>ПРОДУКТЫ</p></a>
        </div>
    </div>

    <div class="about-us">
        <h1>О Нас...</h1>
        <p>
            Вас приветствует компания «FreshDeliveries» - лидер рынка по продаже
            и доставке готовой еды, напитков и продуктов!
            <br><br>
            Мы рады предложить вам уникальное гастрономическое путешествие
            по миру вкусов и ароматов.
            Наши готовые блюда, освежающие напитки и свежие продукты
            созданы для того, чтобы радовать вас каждый день.
            <br><br>
            Мы гордимся тем, что наши блюда готовятся с любовью
            и из самых качественных ингредиентов, тщательно отобранных у проверенных поставщиков.
            Наша команда опытных поваров и специалистов по напиткам всегда стремится создать
            что-то особенное для вас, будь то изысканный ужин для двоих, быстрый обед для
            занятых будней или освежающий коктейль для вечеринки.
            <br><br>
            На нашем сайте вы найдете широкий ассортимент:
            от аппетитных закусок и горячих блюд до утонченных десертов
            и напитков на любой вкус. Мы также предлагаем свежие продукты,
            которые помогут вам легко приготовить любимые блюда дома.
            Независимо от того, что вы выберете, мы гарантируем
            высокое качество и свежесть каждого продукта.
            <br><br>
            Мы понимаем, как важно для вас время, поэтому предлагаем быструю и надежную доставку.
            Ваш заказ будет доставлен вовремя и в идеальном состоянии,
            чтобы вы могли насладиться едой без лишних забот.
            <br><br>
            Присоединяйтесь к нашим многочисленным довольным клиентам
            и позвольте нам стать частью ваших лучших кулинарных впечатлений.
            Закажите прямо сейчас и ощутите разницу!
        </p>
    </div>

    <div class="holder"></div>
    <div th:replace="footer.html :: footer"></div>

    <script src="../static/scripts/NavbarScript.js"></script>
</body>
</html>
