<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
<div class="back-black">
    <div th:replace="navbar.html :: navbar"></div>
<!--
    <span th:utext="${loginForm}"></span>
-->

    <div th:replace="${typeFormLog} :: loginoverlay"></div>
    <div th:replace="${typeFormReg} :: regoverlay"></div>

    <div class="image-panels">
        <h1>Наш ассортимент</h1>
        <div>
        <a href="#" class="panel"><img src="../static/img/readymeals.png" alt="Ready Meal"><p>ГОТОВЫЕ БЛЮДА</p></a>
        <a href="#" class="panel"><img src="../static/img/drinks.png" alt="Drink"><p>НАПИТКИ</p></a>
        <a href="#" class="panel"><img src="../static/img/products.png" alt="Product"><p>ПРОДУКТЫ</p></a>
        </div>
    </div>

    <div class="about-us">
        <h1>О Нас...</h1>
        <p>
            Вас приветствует компания «FreshDeliveries» - лидер рынка по продаже
            и доставке готовой еды, напитков и продуктов!
            <br><br>
            Мы рады, что вы выбрали наш сайт, где можно найти огромный
            ассортимент качественных товаров для всей семьи.
            <br><br>
            Наша компания была основана с одной целью - предоставить клиентам
            комфортную и быструю доставку свежих продуктов и готовой еды прямо
            к их doorstep. Мы понимаем, что время стало ценным ресурсом, и поэтому
            мы сделали все возможное, чтобы облегчить вашу жизнь.
            <br><br>
            На нашем сайте вы можете найти огромный ассортимент товаров от известных
            производителей и местных поставщиков. Вам доступны свежие продукты из
            супермаркета, готовая еда для различных вкусов и предпочтений, а также
            напитки и другие полезные товары.
            <br><br>
            Но наша компания не только предлагает широкий выбор продуктов - мы
            также заботимся о клиенте. Мы обеспечиваем безопасность и качество всех
            доставленных товаров, чтобы вы могли быть уверены в безопасности своей еды.
            <br><br>
            Кроме того, у нас есть команда профессиональных логистов, которые будут
            заботиться о том, чтобы ваш заказ прибыл вовремя и в хорошем состоянии.
            Мы предлагаем разнообразные способы доставки - от стандартной до
            экспресс-доставки, чтобы вы могли выбрать наиболее удобное для себя решение.
            <br><br>
            Наша компания также постоянно развивается и улучшает свои услуги.
            Мы слушаем обратную связь наших клиентов и стараемся удовлетворить
            все их потребности.
            <br><br>
            Здесь вы можете найти не только продукты, но и опытные консультанты,
            которые помогут вам выбрать лучшие товары для вашего стола. Наш сайт
            - это ваш путь к комфортной и быстрой доставке высококачественных продуктов
            и готовой еды. <br>
            <br><br>
            Спасибо за выбор нашего сайта!<br>
            <br><br>
            Мы рады, что вы стали частью нашей семьи,
            и мы будем рады помочь вам в любое время.
        </p>
    </div>

    <div th:replace="footer.html :: footer"></div>

    <script src="../static/script.js"></script>
</div>
</body>
</html>
