<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<nav th:fragment="navbar" class="navbar">
    <div class="logo-and-hamburger">
        <button class="hamburger-btn" onclick="toggleMenu()">≡</button>
        <a href="/" class="logo"><img class="logo-img" src="../static/img/logo.png" alt="Logo">Epicure Express</a>
    </div>
    <div id="menu-container" class="menu-container">
        <h2>Выберите<br>категорию!</h2>
        <ul class="hamburger-list">
            <li th:each="categ: ${categories}"><a th:href="${categ.code}" th:text="${categ.name}"></a></li>
        </ul>
    </div>

    <div th:replace="authorization.html :: ${authorizeForm}"></div>
    <div th:replace="${typeFormLog} :: loginoverlay"></div>
    <div th:replace="${typeFormReg} :: regoverlay"></div>
</nav>

</body>
</html>
