<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body class="none">
        <h1>Страница <span th:text="${address}"></span>  не найдена!</h1>
    <p class="confusion-page">
        В контексте постмодернистской эпистемологии и критического анализа гетеротопии программирования, <br>
        можно сформулировать причину отсутствия страницы как следствие парадоксальной природы разработчика. <br>
        Идея создания страницы как целостного знакового поля, содержащего информацию о проекте, <br>
        является результатом анализа и синтеза различных факторов, включая гносеологические предпосылки, <br>
        социальные контексты и технологические ограничения. <br><br>
        Однако, разработчик как субъект, обладающий свободой выбора, находится в состоянии дилеммы <br>
        между созданием страницы и не созданием ее. Это происходит потому, что создание страницы <br>
        предполагает определение границ и контекста, который может ограничить свободу разработчика <br>
        и его способность принимать решения. <br><br>
        С другой стороны, не создание страницы может быть результатом отсутствия мотивации или ресурсов, <br>
        а также следствием сложности и неопределенности проекта. В этом случае, разработчик <br>
        может чувствовать себя в состоянии фрейма, который ограничивает его способность создавать контент.<br><br>
        В целом, причина отсутствия страницы является результатом взаимодействия различных факторов, <br>
        включая гносеологические предпосылки, социальные контексты и технологические ограничения. <br>
        Разработчик находится в состоянии дилеммы между созданием страницы и не созданием ее, <br>
        и его выбор зависит от комплекса факторов, которые влияют на его свободу выбора.<br><br>
        Таким образом, можно сформулировать причину отсутствия страницы как следствие <br>
        парадоксальной природы разработчика, который находится в состоянии дилеммы между созданием страницы <br>
        и не созданием ее. Это происходит потому, что создание страницы предполагает определение границ <br>
        и контекста, который может ограничить свободу разработчика и его способность принимать решения.
    </p>
    </body>
</html>
