<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div th:replace="navbar.html :: navbar"></div>

    <div class="products-container">
        <h2>Вот что мы нашли:</h2>
        <ul class="products-list">
            <li th:each="product: ${productsView}">
                <img th:src="${product.servletId}"/>
                <h3 th:text="${product.name}"></h3>
                <div>
                    <p th:text="${product.price}"></p>
                    <p >руб.</p>
                </div>
                <button class="add-to-bucket-btn" >Добавить в корзину</button>
            </li>
        </ul>
    </div>

    <div class="holder"></div>
    <footer th:replace="footer.html :: footer"></footer>

    <script src="../static/script.js"></script>
</body>
</html>
