<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div th:replace="navbar.html :: navbar"></div>

    <div class="products-container">
        <h2>Вот что мы нашли:</h2>
        <ul class="products-list">
            <li th:each="product: ${productsView}">
                <img th:src="${product.servletId}"/>
                <h3 th:text="${product.name}"></h3>
                <div>
                    <p th:text="${product.price}"></p>
                    <p >руб.</p>
                </div>
                <button class="add-to-bucket-btn"
                        th:data-id="${product.id}"
                        th:text="${product.inBucket ? 'Уже в корзине' : 'Добавить в корзину'}"
                        th:disabled="${product.inBucket}"></button>
            </li>
        </ul>
    </div>

    <div class="holder"></div>
    <footer th:replace="footer.html :: footer"></footer>

    <script src="../static/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.add-to-bucket-btn').click(function(){
                var button = $(this);
                var productId = button.data('id');
                $.ajax({
                    type: 'POST',
                    url: '/add-to-bucket',
                    data: JSON.stringify({ productId: productId }),
                    contentType: 'application/json',
                    success: function(response) {
                        if (response.success) {
                            button.text('Уже в корзине').attr('disabled', true);
                        } else {
                            alert('Ошибка добавления товара в корзину');
                        }
                    },
                    error: function() {
                        alert('Вы не авторизированны!');
                    }
                });
            });
        });
    </script>

</body>
</html>
