<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/ProductsStyles.css">
    <link rel="stylesheet" href="../static/css/AuthorizationStyles.css">
    <link rel="stylesheet" href="../static/css/NavbarStyles.css">
    <link rel="stylesheet" href="../static/css/FooterStyles.css">
</head>
<body>
    <div th:replace="navbar.html :: navbar"></div>

    <div class="products-container">
        <ul class="products-list">
            <li th:each="product: ${productsView}">
                <img th:src="${product.servletId}"/>
                <h3 th:text="${product.name}"></h3>
                <div>
                    <p th:text="${product.price}"></p>
                    <p >руб.</p>
                </div>
                <button th:replace="prodcontrols.html :: ${typebutton}"></button>
            </li>
        </ul>
    </div>

    <div class="holder"></div>
    <footer th:replace="footer.html :: footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/scripts/ProductScript.js"></script>
    <script src="../static/scripts/NavbarScript.js"></script>
</body>
</html>
